<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jtd.recharge.dao.mapper.ChargeWhiteListMapper" >
  <resultMap id="BaseResultMap" type="com.jtd.recharge.dao.po.ChargeWhiteList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="white_mobile" property="whiteMobile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, white_mobile
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from charge_white_list
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from charge_white_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jtd.recharge.dao.po.ChargeWhiteList" >
    insert into charge_white_list (id, white_mobile)
    values (#{id,jdbcType=INTEGER}, #{whiteMobile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jtd.recharge.dao.po.ChargeWhiteList" >
    insert into charge_white_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="whiteMobile != null" >
        white_mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="whiteMobile != null" >
        #{whiteMobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jtd.recharge.dao.po.ChargeWhiteList" >
    update charge_white_list
    <set >
      <if test="whiteMobile != null" >
        white_mobile = #{whiteMobile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jtd.recharge.dao.po.ChargeWhiteList" >
    update charge_white_list
    set white_mobile = #{whiteMobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>