<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jtd.recharge.dao.mapper.UserBalanceMonitorMapper" >
  <resultMap id="BaseResultMap" type="com.jtd.recharge.dao.po.UserBalanceMonitor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER"/>
      <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_credit" property="isCredit" jdbcType="INTEGER" />
    <result column="monitor_balance" property="monitorBalance" jdbcType="DECIMAL" />
    <result column="user_balance" property="userBalance" jdbcType="DECIMAL" />
    <result column="monitor_mobile" property="monitorMobile" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
<!--查询user_balance_monitor-->
  <select id="selectUserBalanceMonitor" parameterType="com.jtd.recharge.dao.po.UserBalanceMonitor" resultMap="BaseResultMap">
    select id,user_id,status,monitor_balance,monitor_mobile,update_time from user_balance_monitor WHERE user_id=#{userId}
  </select>
<!--查询user_balance_monitor 开启授信-->
  <select id="selectUserBalanceMonitorStatus" resultMap="BaseResultMap">
    SELECT a.id,a.user_id,b.user_name,a.status,a.monitor_balance,a.monitor_mobile,a.update_time,((c.credit_balance)+(c.user_balance)) user_balance FROM user_balance_monitor a LEFT JOIN USER b ON b.id=a.user_id LEFT JOIN user_balance c ON c.user_id=a.user_id  WHERE a.status=1 AND b.is_credit=1
 </select>
<!--查询user_balance_monitor 关闭授信-->
  <select id="selectUserBalanceMonitorStatusTwo" resultMap="BaseResultMap">
    SELECT a.id,a.user_id,b.user_name,a.status,a.monitor_balance,a.monitor_mobile,a.update_time,c.user_balance FROM user_balance_monitor a LEFT JOIN USER b ON b.id=a.user_id LEFT JOIN user_balance c ON c.user_id=a.user_id  WHERE a.status=1 AND b.is_credit=0
 </select>
  <!--添加开关状态-->
  <insert id="insertUserBalanceMonitor" parameterType="com.jtd.recharge.dao.po.UserBalanceMonitor">
    INSERT INTO user_balance_monitor SET user_id=#{userId},monitor_balance=#{monitorBalance},monitor_mobile=#{monitorMobile},status=#{status},update_time=now()
  </insert>
  <!--修改内容-->
  <insert id="updateUserBalanceMonitor" parameterType="com.jtd.recharge.dao.po.UserBalanceMonitor">
    update user_balance_monitor SET monitor_balance=#{monitorBalance},monitor_mobile=#{monitorMobile},status=#{status},update_time=now() where user_id=#{userId}
  </insert>
  <!--修改状态-->
  <insert id="updateUserBalanceMonitors" parameterType="com.jtd.recharge.dao.po.UserBalanceMonitor">
    update user_balance_monitor SET status=#{status},update_time=now() where user_id=#{userId}
  </insert>


</mapper>