/* Write your styles */
* {
    margin: 0;
    padding: 0;
    border:0;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
.wrap div {
	border:1px solid #f66;
	
}