html,
body {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
    min-width: 1000px;
    min-height: 600px;
}
* {
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    border-bottom: 1px solid #cccccc;
    height:80px;
}

.nav {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.nav_1 {
    width: 156px;
    margin-top: 23px;
    margin-right: 20px;
}

.nav_1 img {
    width: 100%;
}

.nav_1,
.nav_2 {
    float: left;
}

.nav_13 {
    float: right;
    height: 80px;
    line-height: 80px;
}

.nav_2 {
    margin-left: 40px;
    height: 80px;
    line-height: 80px;
}
.nav_2 ul{
    padding: 0;
    overflow: hidden;
    /*margin:12px 0 0 0;*/
}
.nav_2 ul li {
    float: left;
    padding: 0 34px;
    text-align: center;
    background: none!important;
}

.nav_2 ul li a {
    color: #aaaaaa;
    text-decoration: none;
    font-size: 14px;
}

.nav_2 ul li .heng {
    color: #132f41;
    border-bottom: 3px solid #132f41;
    padding-bottom: 10px;
}

.nav_13 a {
    width: 80px;
    height: 30px;
    line-height: 30px;
    background: none;
    border: 1px solid #f67901;
    border-radius: 3px;
    margin: 0 4px;
    text-decoration: none;
    display: block;
    color: #f67901;
    text-align: center;
    float: left;
    margin-top: 24px;
}
.nav_13 a.active{
    background: #f67901;
    color: #fff;
}

.xiala {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 80px;
    display: none;
    z-index: 10;
}

.xiala .box {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

.xiala .box .caidan {
    margin-left: 0px;
}

.xiala .box ul {
    float: left;
    width: 180px;
    list-style: none;
    padding: 0;
}

.xiala .box .name {
    font-size: 16px;
    color: #f37b20;
    line-height: 40px;
}

.xiala .box .name a {
    color: #fff;
    font-size: 20px;
}

.xiala .box .box_1 {
    float: left;
    padding: 20px 0;
    margin-right: 23px;
}

.xiala .box ul li {
    float: left;
    box-sizing: border-box;
    line-height: 40px;
    width: 100%;
}

.xiala .box ul li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    padding: 0;
    border: 0;
    font-size: 16px;
}

.xiala .box ul .active a {
    color: #f37b20;
    border-bottom: 1px solid #f37b20;
}

.xiala .box ul li a:hover {
    color: #1faf91;
    border-bottom: 1px solid #1faf91;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

.xiala1 {
    position: fixed;
    width: 100%;
    left: -165px;
    top: 80px;
    display: none;
    z-index: 10;
}

.xiala1 .box {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

.xiala1 .box .caidan {
    margin-left: 0px;
}

.xiala1 .box ul {
    float: left;
    width: 360px;
    list-style: none;
    padding: 0;
}

.xiala1 .box .name {
    font-size: 16px;
    color: #f37b20;
    line-height: 40px;
}

.xiala1 .box .name a {
    color: #1faf91;
}

.xiala1 .box .box_1 {
    float: right;
    padding: 20px 0;
    /*margin-right: 80px;*/
    background: rgba(0, 0, 0, 0.8);
}

.xiala1 .box ul li {
    float: left;
    padding: 0;
    line-height: 40px;
    width: 180px;
}

.xiala1 .box ul li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    padding: 0;
    border: 0;
    font-size: 16px;
}

.xiala1 .box ul .active a {
    color: #f37b20;
    border-bottom: 1px solid #f37b20;
}

.xiala1 .box ul li a:hover {
    color: #1faf91;
    border-bottom: 1px solid #1faf91;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

.xiala2 {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 80px;
    display: none;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
}

.xiala2 .box {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

.xiala2 .box .caidan {
    margin-left: 0px;
}

.xiala2 .box ul {
    float: left;
    width: 180px;
    list-style: none;
    padding: 0;
}

.xiala2 .box .name {
    font-size: 16px;
    color: #f37b20;
    line-height: 40px;
}

.xiala2 .box .name a {
    color: #fff;
}

.xiala2 .box .box_1 {
    width: 25%;
    float: right;
    padding: 20px 0;
}

.xiala2 .box ul li {
    float: left;
    padding-right: 23px;
    line-height: 30px;
    width: 100%;
}

.xiala2 .box ul li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    padding: 0;
    border: 0;
}

.xiala2 .box ul .active a {
    color: #f37b20;
    border-bottom: 1px solid #f37b20;
}

.xiala2 .box ul li a:hover {
    color: #1faf91;
    border-bottom: 1px solid #1faf91;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}
/*----------头部结束---------------*/